body {
  box-sizing: border-box;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  width: 250px;
  padding: 20px;
}

.card-img {
  width: 200px;
  height: 200px;
}

.card-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.card-btn {
  align-self: flex-end;
  background-color: brown;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

.card-title {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid brown;
  margin-bottom: 20px;
}

.nav-title {
  color: brown;
  font-weight: 700;
  font-size: 36px;
}

.nav-shop-link {
  border: 1px solid brown;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.nav-shop-link:hover {
  background-color: brown;
  color: #fff;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-title {
  font-size: 25px;
  color: gray;
}

.cart-item {
  border: 1px solid gray;
  padding: 15px;
  margin-bottom: 20px;
}

.cart-item-title {
  color: black;
}

.cart-count {
  color: brown;
  font-weight: 700;
}

.cart-input {
  width: 25px;
}

.cart-btn {
  background-color: #fff;
  border: 1px solid brown;
  width: 200px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-left: auto;
}

.cart-btn:hover {
  background-color: brown;
  color: #fff;
}

.info-container {
  display: flex;
}

.info-img {
  margin-right: 40px;
}

.info-desc {
  border: 2px solid brown;
  padding: 20px;
  font-size: 20px;
}
